.eg_info {
    direction: rtl;
    text-align: right;
    margin-right: 150px !important;
}

.it_info {
    text-align: left;
    margin-left: 150px !important;
}

.img_chapter {
    border: 0 !important;
    box-shadow: none;
    width: 900px;
}

.corner_logo {
    position: absolute;
    top: 10px;
    left: 10px;
}

.corner_logo img {
    width: 100px;
}