.reveal .eg_info {
    direction: rtl;
    text-align: right;
    margin-right: 150px;
}

.reveal .eg_info ul {
    display: block;
    text-align: right;
}

.reveal .it_info {
    text-align: left;
    margin-left: 150px;
}

.reveal .img_chapter {
    border: 0;
    box-shadow: none;
    width: 900px;
}

.corner_logo {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1000;
}

.corner_logo.right_corner {
    position: absolute;
    top: 10px;
    right: 10px;
    left: inherit;
}

.corner_logo.left_middle {
    position: absolute;
    top: 51%;
    right: inherit;
    left: 10px;
}
.corner_logo img {
    width: 100px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.reveal .shadowed {
    -webkit-box-shadow: 6px 7px 17px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 7px 17px -5px rgba(0,0,0,0.75);
    box-shadow: 6px 7px 17px -5px rgba(0,0,0,0.75);
}
.reveal code {
    padding: 20px !important;
    max-height: 1500px !important;
}

.reveal code span.fragment.fade-out.visible {
    display: none;
}

.reveal .head-score {
    /*display: block;*/
    margin-right: 20px;
}

.reveal section.about_both.present {
    padding: 0;
}

.half-by-half {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
}

.reveal .half-by-half img {
    max-height: 100%;
    max-width: 100%;
    margin: 0;
}

.half-by-half .image-area {
    position:relative;
    width: 100%;
    height: 100%
}

.half-by-half .image-area .entry {
    position:absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.angular-bg .image-area .entry {
    background-color: #EADDD8;
}

.react-bg .image-area .entry {
    background-color: #E1EFED;
}

.half-by-half .left {
    flex: 0 1 50%;
    min-height: 100%;
    max-width: 50%;
    align-items: flex-start;
}

.half-by-half .angular-bg {
    background-color: rgba(181,46,43, 0.1);
}

.half-by-half .right  {
    flex: 0 1 50%;
    height: 100%;
    max-width: 50%;
    flex-wrap: wrap;
    align-items: flex-start;
}

.half-by-half .react-bg {
    background-color: rgba(97,218,251, 0.1);
}

.horizontal .half-by-half {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.horizontal .half-by-half div {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    max-height: 50%;
    min-height: 50%;
    width: 100%;
}

div.faces {
    padding-top: 100px;
}
.faces img {
    border-radius: 25px;
}

.reveal div.info_middle {
    display: flex;
    position: absolute;
    bottom: 120px;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}

.reveal img.small-logo {
    width: 50px;
    padding-right: 5px;
    margin: 0;
    vertical-align:middle;
}


.reveal .block {
    display: inline-block;
    vertical-align: middle;
}

.reveal img.block {
    margin-right: -5px;
}



.reveal, .reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
    font-family: Geometria;
}